* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  padding: 32px 4%;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
p, label {
  font-size: 1.5rem;
  font-weight: 500;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 32px;
}
.form-container {
  padding: 0 4%;
}
.form-group:last-of-type {
  display: flex;
  justify-content: left;
  align-items: center;
}
.form-group {
  display: grid;
  margin-bottom: 16px
}
.form-group input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 8px;
  width: 100%;
}
.form-group select {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 8px;
  width: 100%;
}
.form-group textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  padding: 8px;
  width: 100%;
}
.form-group .checkbox {
  width: 20px;
  margin-left: 8px;
}
.cart-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 8px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 16px;
}
.cart-item-image img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
}
.form-container button, .cart-container button {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 24px;
  padding: 8px;
  background: #ccc;
  cursor: pointer;
}
.cart-item-remove {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-item-remove button {
  background: #ccc;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  padding: 8px;
  cursor: pointer;
}